.activity_menu {
    cursor: pointer;
    position: relative;
    span.icon {
        background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"20"%20height%3D"20"%20viewBox%3D"0%200%2020%2020"><path%20fill%3D"%23fff"%20fill-rule%3D"evenodd"%20d%3D"M8%2C18%20C6.64583333%2C18%205.5%2C17.3%205.5%2C16%20L10.5%2C16%20C10.5%2C17.3%209.35416667%2C18%208%2C18%20Z%20M13.9956933%2C11%20C13.9956933%2C12.5%2016%2C12.5%2016%2C13.5%20C16%2C14%2016%2C15%2013.8955984%2C15%20L1.98430985%2C15%20C-6.19060359e-13%2C15%20-1.62536651e-13%2C14%20-1.63424829e-13%2C13.5%20C-1.63369318e-13%2C12.5%201.98430985%2C12.5%202%2C11%20L2%2C8%20C2%2C4%204.09724901%2C1.5%207%2C1.1%20L7%2C1%20C7%2C0.4%207.5%2C5.74053187e-17%208%2C0%20C8.5%2C0%209%2C0.4%209%2C1%20L9%2C1.1%20C11.902751%2C1.5%2013.9956933%2C4%2013.9956933%2C8%20L13.9956933%2C11%20Z"%20transform%3D"translate(2%201)"%2F><%2Fsvg>');
        width: 50px;
        height: 50px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: top;
    }
    &:hover span.icon {
        animation: wobble 1s;
    }
    margin-left: 452px;
}

.activity_block {
    display: none;
    width: 500px;
    max-height: 355px;
    position: absolute;
    background: #f2f2f2;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.46);
    border: 1px solid rgba(185, 185, 185, 0.28);
    top: 49px;
    right: 50%;
    margin-right: -250px;
    cursor: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 30px;
    .block .block_content {
        margin-bottom: 0;
    }
    .news .block_content {
        height: auto;
    }
    .block .block__separator {
        height: auto;
        line-height: normal;
        vertical-align: middle;
    }
    .activity_head {
        background: #f1f1f3;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.14);
        height: 30px;
        line-height: 30px;
        color: #333;
        font-family: 'Proxima Nova Semibold';
        text-align: center;
        position: absolute;
        top: 0;
    }
    &.animated {
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
    }
}
