 @font-face {
     font-family: 'Proxima Nova';
     src: url(fonts/ProximaNovaRegular.otf);
 }

 @font-face {
     font-family: 'Proxima Nova Black';
     src: url(fonts/ProximaNovaBlack.otf);
 }

 @font-face {
     font-family: 'Proxima Nova Bold';
     src: url(fonts/ProximaNovaBold.otf);
 }

 @font-face {
     font-family: 'Proxima Nova Semibold';
     src: url(fonts/ProximaNovaSemibold.otf);
 }

 @font-face {
     font-family: 'Proxima Nova Light';
     src: url(fonts/ProximaNovaLight.otf);
 }

 @font-face {
     font-family: 'Proxima Nova Thin';
     src: url(fonts/ProximaNovaThin.otf);
 }

 @font-face {
     font-family: 'Proxima Nova Xbold';
     src: url(fonts/ProximaNovaXbold.otf);
 }

 body {
     -webkit-font-smoothing: subpixel-antialiased !important;
     -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
 }
