body {
  color: white;
  font: 14px 'Proxima Nova';
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url(img/bg-1.png) top center no-repeat, -moz-linear-gradient(90deg, #30cfd0 0%, #330867 100%);
  background: url(img/bg-1.png) top center no-repeat, -webkit-linear-gradient(90deg, #30cfd0 0%, #330867 100%);
  background: url(img/bg-1.png) top center no-repeat, -ms-linear-gradient(90deg, #30cfd0 0%, #330867 100%);
  background-position-y: 50px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.button {
  border-radius: 3px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.31);
  width: 309px;
  height: 50px;
  text-align: center;
  font: 18px 'Proxima Nova Semibold';
  line-height: 50px;
  cursor: pointer;
  background: linear-gradient(90deg, #21d4fd 0%, #b721ff 100%);
  background-size: 400% 400%;
  -webkit-animation: button 5s ease infinite;
  -moz-animation: button 5s ease infinite;
  animation: button 5s ease infinite;
  margin: 0 auto;
  user-select: none; }

@-webkit-keyframes button {
  0% {
    background-position: 84% 0%; }
  50% {
    background-position: 17% 100%; }
  100% {
    background-position: 84% 0%; } }
@-moz-keyframes button {
  0% {
    background-position: 84% 0%; }
  50% {
    background-position: 17% 100%; }
  100% {
    background-position: 84% 0%; } }
@keyframes button {
  0% {
    background-position: 84% 0%; }
  50% {
    background-position: 17% 100%; }
  100% {
    background-position: 84% 0%; } }
.wrap {
  width: 1140px;
  margin: 0 auto; }

menu {
  width: 100%;
  height: 50px;
  background: #333;
  margin: 0;
  padding: 0;
  line-height: 50px !important; }
  menu .logo {
    display: inline-block;
    vertical-align: middle; }

.content {
  background: #f2f2f2;
  position: relative;
  margin-top: 351px;
  height: 100%;
  margin-bottom: 100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .content .sidebar {
    padding: 34px 0;
    width: 293px;
    vertical-align: top;
    display: inline-block;
    background: #333333;
    float: left; }
    .content .sidebar .sidebar_userinfo {
      padding: 0 15px; }
      .content .sidebar .sidebar_userinfo .sidebar_userinfo__avatar {
        display: inline-block;
        vertical-align: top;
        width: 97px;
        height: 97px;
        border-radius: 100%;
        float: left;
        margin-right: 15px; }
      .content .sidebar .sidebar_userinfo .sidebar_userinfo__about {
        display: inline-block;
        vertical-align: top; }
        .content .sidebar .sidebar_userinfo .sidebar_userinfo__about .about__fio {
          font: 18px 'Proxima Nova Semibold';
          margin-bottom: 15px; }
        .content .sidebar .sidebar_userinfo .sidebar_userinfo__about .about__i {
          font-size: 16px; }
          .content .sidebar .sidebar_userinfo .sidebar_userinfo__about .about__i i {
            margin-right: 5px;
            width: 15px;
            height: 15px;
            display: inline-block;
            vertical-align: middle; }
        .content .sidebar .sidebar_userinfo .sidebar_userinfo__about .about__money {
          margin-bottom: 7px; }
        .content .sidebar .sidebar_userinfo .sidebar_userinfo__about .about__money i {
          background: url(img/money.png) center no-repeat; }
        .content .sidebar .sidebar_userinfo .sidebar_userinfo__about .about__exp i {
          background: url(img/exp.png) center no-repeat; }
    .content .sidebar .sidebar_menu {
      margin-top: 34px;
      border-top: 1px solid #727272; }
    .content .sidebar .sidebar_menu__item {
      width: 100%;
      height: 80px;
      border-bottom: 1px solid #727272;
      font: 18px 'Proxima Nova Semibold';
      line-height: 80px;
      padding-left: 34px;
      box-sizing: border-box;
      transition: all .2s linear;
      cursor: pointer; }
      .content .sidebar .sidebar_menu__item:hover {
        background: rgba(255, 255, 255, 0.2); }
  .content .center {
    width: 847px;
    vertical-align: top;
    display: inline-block;
    padding: 34px 15px;
    box-sizing: border-box; }
  .content .block {
    width: 100%; }
    .content .block .block__separator {
      font: 16px 'Proxima Nova Light';
      display: inline-block;
      vertical-align: top;
      color: #333;
      line-height: 50px;
      height: 50px; }
    .content .block .block_element {
      height: 50px;
      border-bottom: 1px solid #e7e7e7;
      line-height: 50px;
      transition: all .2s linear; }
    .content .block .block_header {
      font: 24px 'Proxima Nova Semibold';
      color: #333;
      margin-bottom: 24px;
      position: relative; }
      .content .block .block_header:before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #e7e7e7;
        bottom: -10px; }
    .content .block .block_content {
      width: 100%;
      background-color: white;
      box-shadow: 0px 2px 4px 0px rgba(185, 185, 185, 0.28);
      width: 100%;
      margin-bottom: 34px;
      overflow-x: hidden;
      overflow-y: auto;
      user-select: text; }
  .content .news .block_content {
    height: 250px; }
    .content .news .block_content .news__icon {
      width: 68px;
      text-align: center; }
    .content .news .block_content .news__icon img {
      vertical-align: middle; }
  .content .dance {
    position: relative; }
    .content .dance .block_element {
      padding: 0 16px; }
    .content .dance .block_content {
      height: 377px; }
    .content .dance .dance__fixed {
      position: absolute;
      background: #f1f1f3;
      width: 100%;
      box-sizing: border-box;
      box-shadow: 0px 11px 63px rgba(0, 0, 0, 0.12); }
    .content .dance .dance__fixed .block__separator {
      font-family: 'Proxima Nova Semibold' !important; }
    .content .dance .dance__track {
      width: 550px; }
    .content .dance .dance__bpm {
      width: 165px; }
    .content .dance .dance__songs {
      margin-top: 60px; }
      .content .dance .dance__songs .block_element:hover:not(.dance__songs_selected) {
        background: linear-gradient(90deg, rgba(33, 212, 253, 0.2) 0%, rgba(183, 33, 255, 0.2) 100%);
        background-size: 400% 400%;
        -webkit-animation: button 5s ease infinite;
        -moz-animation: button 5s ease infinite;
        animation: button 5s ease infinite;
        cursor: pointer; }
    .content .dance .dance__songs_selected {
      background: linear-gradient(90deg, #21d4fd 0%, #b721ff 100%);
      background-size: 400% 400%;
      -webkit-animation: button 5s ease infinite;
      -moz-animation: button 5s ease infinite;
      animation: button 5s ease infinite; }
      .content .dance .dance__songs_selected .block__separator {
        color: white;
        font-family: 'Proxima Nova Semibold'; }

.block_content::-webkit-scrollbar-button {
  display: none;
  height: 13px;
  border-radius: 0px;
  background-color: #AAA; }

.block_content::-webkit-scrollbar-button:hover {
  background-color: #AAA; }

.block_content::-webkit-scrollbar-thumb {
  background-color: #21d4fd; }

.block_content::-webkit-scrollbar-thumb:hover {
  background-color: #CCC; }

.block_content::-webkit-scrollbar-track {
  background-color: #efefef; }

.block_content::-webkit-scrollbar-track:hover {
  background-color: #CCC; }

.block_content::-webkit-scrollbar {
  width: 1px; }

/*# sourceMappingURL=style.css.map */
