body {
    color: white;
    font: 14px 'Proxima Nova';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url(img/bg-1.png) top center no-repeat, -moz-linear-gradient( 90deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    background: url(img/bg-1.png) top center no-repeat, -webkit-linear-gradient( 90deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    background: url(img/bg-1.png) top center no-repeat, -ms-linear-gradient( 90deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    background-position-y: 50px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */

.button {
    border-radius: 3px;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.31);
    width: 309px;
    height: 50px;
    text-align: center;
    font: 18px 'Proxima Nova Semibold';
    line-height: 50px;
    cursor: pointer;
    background: linear-gradient( 90deg, rgb(33, 212, 253) 0%, rgb(183, 33, 255) 100%);
    background-size: 400% 400%;
    -webkit-animation: button 5s ease infinite;
    -moz-animation: button 5s ease infinite;
    animation: button 5s ease infinite;
    margin: 0 auto;
    &:hover {}
}

@-webkit-keyframes button {
    0% {
        background-position: 84% 0%
    }
    50% {
        background-position: 17% 100%
    }
    100% {
        background-position: 84% 0%
    }
}

@-moz-keyframes button {
    0% {
        background-position: 84% 0%
    }
    50% {
        background-position: 17% 100%
    }
    100% {
        background-position: 84% 0%
    }
}

@keyframes button {
    0% {
        background-position: 84% 0%
    }
    50% {
        background-position: 17% 100%
    }
    100% {
        background-position: 84% 0%
    }
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

menu {
    width: 100%;
    height: 50px;
    background: #333;
    margin: 0;
    padding: 0;
    line-height: 50px !important;
    .logo {
        display: inline-block;
        vertical-align: middle;
    }
}

.content {
    background: #f2f2f2;
    position: relative;
    margin-top: 351px;
    height: 100%;
    margin-bottom: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    .sidebar {
        padding: 34px 0;
        width: 293px;
        vertical-align: top;
        display: inline-block;
        background: #333333;
        float: left;
        .sidebar_userinfo {
            padding: 0 15px;
            .sidebar_userinfo__avatar {
                display: inline-block;
                vertical-align: top;
                width: 97px;
                height: 97px;
                border-radius: 100%;
                float: left;
                margin-right: 15px;
            }
            .sidebar_userinfo__about {
                display: inline-block;
                vertical-align: top;
                .about__fio {
                    font: 18px 'Proxima Nova Semibold';
                    margin-bottom: 15px;
                }
                .about__i {
                    font-size: 16px;
                    i {
                        margin-right: 5px;
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                    }
                }
                .about__money {
                    margin-bottom: 7px;
                }
                .about__money i {
                    background: url(img/money.png) center no-repeat;
                }
                .about__exp i {
                    background: url(img/exp.png) center no-repeat;
                }
            }
        }
        .sidebar_menu {
            margin-top: 34px;
            border-top: 1px solid #727272;
        }
        .sidebar_menu__item {
            width: 100%;
            height: 80px;
            border-bottom: 1px solid #727272;
            font: 18px 'Proxima Nova Semibold';
            line-height: 80px;
            padding-left: 34px;
            box-sizing: border-box;
            transition: all .2s linear;
            cursor: pointer;
            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }
    .center {
        width: 847px;
        vertical-align: top;
        display: inline-block;
        padding: 34px 15px;
        box-sizing: border-box;
    }
    .block {
        width: 100%;
        .block_header {
            font: 24px 'Proxima Nova Semibold';
            color: #333;
            margin-bottom: 24px;
            position: relative;
            &:before {
                content: ' ';
                position: absolute;
                width: 100%;
                height: 1px;
                background: #e7e7e7;
                bottom: -10px;
            }
        }
        .block_content {
            width: 100%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 2px 4px 0px rgba(185, 185, 185, 0.28);
            width: 100%;
            margin-bottom: 34px;
        }
    }
    .news .block_content {
        height: 250px;
    }
}
