body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url(img/bg-1.png) top center no-repeat, -moz-linear-gradient( 90deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    background: url(img/bg-1.png) top center no-repeat, -webkit-linear-gradient( 90deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    background: url(img/bg-1.png) top center no-repeat, -ms-linear-gradient( 90deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    background-position-y: 50px;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

menu {
    width: 100%;
    height: 50px;
    background: #333;
    margin: 0;
    padding: 0;
    line-height: 50px !important;
    .logo {
        display: inline-block;
        vertical-align: middle;
    }
}

.content {
    background: #f2f2f2;
    position: relative;
    margin-top: 351px;
    .sidebar {
        width: 293px;
        background: #333333;
        .user-info {
            padding: 15px;
        }
    }
}
