body {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

menu {
    width: 100%;
    height: 50px;
    background: #333;
    .logo {
        display: inline-block;
        vertical-align: top;
    }
}
