body {
    margin: 0;
    padding: 0;
    background-image: -moz-linear-gradient( 90deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

menu {
    width: 100%;
    height: 50px;
    background: #333;
    margin: 0;
    padding: 0;
    .logo {
        display: inline-block;
        vertical-align: top;
    }
}
